<!-- views/partials/navbar.handlebars -->

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                Single Page
            </a>
        </div>
        <div class="pull-right">
            <a href="/translations/new" class="btn btn-default navbar-btn">Add new Word</a>
        </div>
    </div>
</nav>