
<fieldset>
    <legend>Edit Word</legend>
    <!-- Word -->
    <div class="form-group">
        <label for="word">New Word</label><br>
        <input class="form-control" id="word" type="text" name="word" value="{{translation.word}}" />
    </div>

    {{!-- Translatoin --}}
    <div class="form-group">
        <label for="trans">Translation</label><br>
        <input class="form-control" id="trans" type="text" name="trans" value="{{translation.trans}}" />
    </div>

    {{!-- Synonym --}}
    <div class="form-group">
        <label for="synonym">Synonym</label><br>
        <textarea class="form-control" id="synonym" name="synonym" rows="10" />{{translation.synonym}}</textarea>
    </div>
</fieldset>