<!-- views/translations-show.handlebars -->
<a href="/">Back to Home</a>
<h1>{{translation.word}}</h1>
<h2>{{translation.trans}}</h2>
<p>{{translation.synonym}}</p>

<p><a href="/translations/{{translation._id}}/edit">Edit</a></p>